@page "/CreateTest/{TestId:int?}"
@using tester.Data
@using tester.Data.Services
@inherits AdministatorPage
@inject TestsDbService tests;
<nav class="breadcrumb is-large mb-1" aria-label="breadcrumbs">
  <ul>
    <li><a href="Admin">Администратирование</a></li>
    <li><a href="Tests">Тесты</a></li>
    <li  class="is-active" aria-current="page"><a href="CreateTest">Новый тест</a></li>
    <li><a href="User">Войти как пользователь</a></li>
  </ul>
</nav>
<hr/>
<QuizCreator RedactableTest="@Test"/>

@code {

  [Parameter]
  public int? TestId { get; set; }
  
  private Data.Testing.Test Test { get; set; }
  
  protected override void OnParametersSet()
  {
    Test = TestId == null ? null : tests.TestList[TestId.Value];
  }
}