@inherits ComponentBase
@implements IComponent
<h3>QuestionRedactorViewBase</h3>

@code {
    [Parameter]
    public virtual object Model { get; set; }
    [Parameter]
    public int Index { get; set; }
}