@inherits LayoutComponentBase

<NavMenu/>
<div class="columns is-centered is-mobile" style="margin-top: 1%">
    <div class="column is-three-fifths-widescreen">
        @Body
    </div>
</div>

<style>
    .columns {
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }
</style>