@using tester.Data.Testing.QuizQuestions
@inherits QuestionBase
<h4 class="subtitle">Выберите верный вариант ответа</h4>
<p class="block">@Data.Description</p>
@for (var index = 0; index < Data.Answers.Count; index++)
{
    var i = index;
    var answer = Data.Answers[i];
    <div class="box is-clickable @(ActiveIndexes[i] ? "has-background-success" : "")" 
          @onclick="@(() => { ActiveIndexes[i] = !ActiveIndexes[i];})">
        @answer
    </div>
}

@code {

    private SelectRight Data
    {
        get => (SelectRight)Model;
        set => Model = value;
    }

    private List<bool> ActiveIndexes
    {
        get => (List<bool>) AnswersModel;
        set => AnswersModel = value;
    }

    protected override void OnParametersSet()
    {
        for (var index = 0; index < Data.Answers.Count; index++)
        {
            ActiveIndexes.Add(false);
        }
        base.OnParametersSet();
    }


}